# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
.ipynb_checkpoints/

# Environment files
.env
.venv/
*.env

# Data & reports
-data/
+data/**
+# keep DVC metafiles:
+!data/**/*.dvc
 reports/

# Model artifacts
*.pkl
*.h5
*.joblib

# DVC and MLflow
-.dvc/
+# the .dvc control dir should be tracked
+!.dvc/
 mlruns/
